# IDE & Sistem Operasi
# Mengabaikan file yang dibuat secara otomatis oleh editor kode dan OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# File Log
# Mengabaikan semua jenis file log
*.log
npm-debug.log*
logs/

# Dependensi & File Build
# Mengabaikan folder dependensi yang bisa diinstal ulang
node_modules/
dist/
build/

# Python
# Mengabaikan cache, file terkompilasi, dan folder virtual environment
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/

# File Lingkungan
# Jangan pernah memasukkan file .env yang berisi kunci rahasia ke Git
.env
.env.*

# Folder Upload Sementara
# Mengabaikan folder yang digunakan untuk unggahan sementara
uploads/
temp_uploads/
temp_audio_uploads/